#fhLogistics_articles_udmCode {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 10px;
}

#fhLogistics_articles_sessionArticles {
    margin-top: 30px;
}

#fhLogistics_articles_storedArticles {
    margin-top: 30px;
}